*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    background-color: lightgray;
}
form{
    margin: 50px;
    height: 400px;
    width: 300px;
    background-color: lightblue;
    align-content: center;
    padding: 50px;
    line-height: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
form input{
    height: 30px;
    width: 200px;
}
#sub{
    margin: 50px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    background-color: gold;
    border-radius: 30px;
    cursor:pointer;
}